<h1 class="text-4xl font-extrabold text-center text-blue-600 my-6">
  Gestión de Productos
</h1>
<div class="max-w-4xl mx-auto p-4 bg-gray-100 rounded-lg shadow-md">
  <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
    <li *ngFor="let producto of productos" class="bg-white p-4 rounded-lg shadow-md hover:shadow-lg transition">
      <h3 class="text-xl font-semibold text-gray-700">{{ producto.nombre }}</h3>
      <p class="text-gray-500 mt-2">{{ producto.descripcion }}</p>
      <span class="text-green-500 font-bold text-lg block mt-4">${{ producto.precio }}</span>
      <div class="flex justify-between mt-4">
        <button class="text-blue-600 hover:text-blue-800">Editar</button>
        <button (click)="eliminarProducto(producto.id)" class="text-red-600 hover:text-red-800">Eliminar</button>
      </div>
    </li>
  </ul>

  <button class="fixed bottom-8 right-8 bg-blue-600 text-white rounded-full p-4 shadow-lg hover:bg-blue-500" (click)="mostrarFormulario = true">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
    </svg>
  </button>
</div>
  <app-agregar-productos *ngIf="mostrarFormulario" (productoAgregado)="onProductoAgregado($event)" (cancelarAgregar)="mostrarFormulario = false">
  </app-agregar-productos>
